{% extends "base.html" %}

{% block head %}
{{ super() }}
{%- filter indent(width=4, first=True) %}
{% if article.keywords %}

{% for keyword in article.keywords %}
<meta name="keywords" contents="{{ keyword }}" />
{% endfor %}
{% endif %}
{% if article.description %}

{% for description in article.description %}
<meta name="description" contents="{{ description }}" />
{% endfor %}
{% endif %}
{% if article.tags %}

{% for tag in article.tags %}
<meta name="tags" contents="{{ tag }}" />
{% endfor %}
{% endif %}
{% endfilter %}
{% endblock %}

{% import "misc_macros.html" as misc with context %}
{% block title %}{{ misc.title_fmt(article.title|striptags) }}{% endblock %}

{% import "article_info.html" as info with context %}

{% block content %}
<div class="posts">
  <div class="post">
    <h1 class="post-title">
      {{ article.title }}
    </h1>
    <div class="post-info post-info-grid">
      {% filter indent(width=6, first=True) %}
      {{- info.date(article) }}
      {{- info.authors_or_empty(article) }}
      {{- info.category_or_empty(article) }}
      {{- info.tags_or_empty(article) }}
      {%- endfilter %}
    </div>

    {% filter indent(width=4, first=True) %}
    {{- article.content }}
    {% endfilter %}
  </div>
</div>
{% endblock %}
