{% extends "base.html" %}

{% block content %}
<div class="content-title">
{% block content_title %}
{% endblock %}
</div>

{% import "article_info.html" as info with context %}
<div class="posts">
  {% for article in articles_page.object_list %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a>
    </h1>
    <div class="post-info post-info-grid">
      {% filter indent(width=6, first=True) %}
      {{- info.date(article) }}
      {{- info.authors_or_empty(article) }}
      {%- endfilter %}
    </div>

    {{ article.summary }}
  </div>
  {% endfor %}
</div>
{% include 'pagination.html' %}
{% endblock content %}
